/**
 * @file
 * Stylesheet for the icons of the Navbar Flush Cache module.
 */

/**
 * Trash icon.
 */
.navbar-bar .navbar-flush-cache-icon-trash:before {
  background-image: url("../icons/bebebe/trash.svg");
}
.no-svg .navbar-bar .navbar-flush-cache-icon-trash:before {
  background-image: url("../icons/bebebe/trash.png");
}
.navbar-bar .navbar-flush-cache-icon-trash:active:before,
.navbar-bar .navbar-flush-cache-icon-trash.navbar-active:before {
  background-image: url("../icons/ffffff/trash.svg");
}
.no-svg .navbar-bar .navbar-flush-cache-icon-trash:active:before,
.no-svg .navbar-bar .navbar-flush-cache-icon-trash.navbar-active:before {
  background-image: url("../icons/ffffff/trash.png");
}
